.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  /* border-bottom: 1px solid gray; */
  background-color: white;
  box-shadow: 0 4px 8px lightgrey;
}

.header nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.header nav a {
  color: #2B292D;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: gray;
}

footer nav {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

footer nav a {
  color: white;
  text-decoration: none;
}

footer nav a:hover {
  color: white;
  text-decoration: underline;
}

.credits {
  padding: 10px 0;
  text-align: center;
  font-size: .9rem;
  font-style: italic;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}
