@import '~antd/dist/antd.css';

.font-secondary {
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
}
.app-body {
  max-width: 1354px;
  margin: 0 auto;
}

.App .bookr-hero.bg-salmon {
  background: #f3c6bd;
  margin-top: 2rem;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 0 4px 8px lightgrey;
  position: relative;
}

.header nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.header nav .nav-item {
  font-size: 16px !important;
  color: #2b292d;
  text-decoration: none;
}

.header nav .nav-item:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: gray;
}

footer nav {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

footer nav .nav-item {
  font-size: 16px !important;
  color: white;
  text-decoration: none;
}

footer nav .nav-item:hover {
  color: white;
  text-decoration: underline;
}

.credits {
  padding: 10px 0 30px;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  background-color: gray;
  border-top: 1px solid lightgray;
  color: lightgray;
}

.page-container {
  background-color: white;
  padding: 20px 70px;
  box-shadow: 0 0 16px lightgrey;
  border-radius: 5px;
  width: 100%;
  margin: 2rem 0;
}

.collection-item {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 20px 0;
  width: 95%;
  border-bottom: 1px solid #e5e5e5;
  margin: auto;
}

.collection-item:last-child {
  border-bottom: none;
}

.collection-item__cover {
  width: 182px;
  height: 276px;
  display: block;
  margin-right: 30px;
}

.collection-item__details h3 {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 10px;
}

.collection-item__author {
  font-family: Roboto, sans-serif;
  margin-bottom: 34px;
}

/* Book Carousel CSS */
.carousel-wrapper {
  align-self: center;
  padding-top: 0.5rem;
  background-color: #282c34;
  border-radius: 5px;
}

.slick-slide {
  opacity: 0.2;
}

.slick-slide.slick-active.slick-current {
  opacity: 1;
}

.slide-image {
  height: 25rem;
  width: 17rem;
  border-radius: 5px;
}

/* .slick-prev:before {
  color: #007bff;
}
.slick-next:before {
  color: #007bff;
} */

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-header img {
  display: block;
  width: 30%;
  margin-bottom: 1rem;
}

.book-header__details {
  width: 60%;
}

.book-header__details h1 {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2.5em;
}

.book-header__details h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

.book-header__details button {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}

.page-container .book-header .book-header__details .button-wrapper {
  display: flex;
}

.sign-in-button {
  width: 126px;
}

.reviews {
  margin: 2rem auto 2rem;
}

.review {
  margin: 0 auto 2rem;
}

.reviewed-by {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.7rem;
  font-size: 0.8rem;
}

.reviewer {
  display: block;
  font-family: Lora, serif;
  font-style: italic;
  font-size: 1rem;
}

.modal-title {
  width: 100%;
}

.login-header {
  background-color: #3040c4;
  color: white;
}

.login-header img {
  display: block;
  margin: auto;
  height: 65px;
}

.modal-body {
  display: flex;
  justify-content: space-between;
}

.modal-form {
  width: 48%;
  padding: 20px;
}

.modal-form button {
  display: inline-block;
  margin-top: 2rem;
}

.modal-divider {
  width: 1px;
  background-color: lightgray;
}

.modal-body div label {
  display: block;
  margin-top: 1rem;
}

.modal-body div input {
  display: block;
  width: 100%;
}

.close {
  color: white;
}

/* AddReview CSS */

.add-review-wrapper {
  width: 1354px;
  margin: 0 auto;
}

.review-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
  width: 100%;
}

.review-form-wrapper .review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 25rem;
  width: 100%;
}

.review-form-wrapper .review-form textarea {
  height: 100%;
  width: 90%;
  padding: 1rem;
}

.review-form-wrapper .review-form .form-button {
  margin-top: 0.5rem;
}

.title-wrapper {
  display: flex;
  margin: 2rem 0;
}

.title-wrapper .title-author {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}

/* About CSS */

.about {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 4px 8px lightgrey;
}

.about h1 {
  text-align: center;
  font-family: Lora, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
}

.about > p {
  width: 70%;
  margin: 1rem auto 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.team-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.team-member:last-child {
  border-bottom: none;
}

.team-member-img {
  width: 25%;
}

.team-member img {
  border-radius: 50%;
  width: 100%;
}

.team-member__details {
  width: 70%;
}

.team-member__details p {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.team-member__details h2 {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.8rem;
}

.team-member__details h3 {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  margin: 0 0.6rem;
}
