.searchbar {
  margin-left: 50px;
  padding: 30px 10px 10px 10px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  /* text-align: center; */
  letter-spacing: 1;
}

.search-icon {
  margin-top: 10px;
  margin-right: 10px;
}

.searchbar input {
  width: 100%;
  border-radius: 25px;
  border: 1px solid darkgrey;
  background: #f1f1f1;
  text-align: center;
  letter-spacing: 5px;
}

.message {
  display: none;
}

.searchbar input:focus {
  outline: none;
}

.item {
  background: #fff;
  box-shadow: 1px 1px rgb(211, 211, 211);
  z-index: 1;
  margin: 1px;
  width: 250%;
  height: 80px;
  border-bottom: 1px solid rgb(211, 211, 211);
  cursor: pointer;
}
.text {
  font-size: 10px;
  position: relative;
  margin: 0 20px;
  width: 400px;
}

.ui {
  background: red;
  height: 0;
  z-index: 1;
}

.selected {
  background: rgb(211, 211, 211);
}

.search input {
  padding: 0 13%;
}

.ui .image {
  height: 80px;
  width: 60px;
}
