.about {
	width: 80%;
	margin: 2rem auto;
	padding: 2rem;
	background-color: white;
	box-shadow: 0 4px 8px lightgrey;
}

.about h1 {
	text-align: center;
	font-family: Lora, serif;
	font-weight: 700;
	font-style: italic;
	font-size: 3rem;
}

.about > p {
	width: 70%;
	margin: 1rem auto 2rem;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

.team-member {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	border-bottom: 1px solid #e5e5e5;
}

.team-member:last-child {
	border-bottom: none;
}

.team-member-img {
	width: 25%;
}

.team-member img {
	border-radius: 50%;
	width: 100%;
	box-shadow: 2px 2px rgb(211, 211, 211);
}

.team-member__details {
	width: 70%;
}

.team-member__details p {
	margin-bottom: 2rem;
	font-size: 1rem;
}

.team-member__details h2 {
	font-family: Lora, serif;
	font-style: italic;
	font-weight: 700;
	font-size: 1.8rem;
}

.team-member__details h3 {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 1px;
	color: gray;
	text-transform: uppercase;
	margin-bottom: 1.4rem;
}

.social-links {
	display: flex;
	justify-content: center;
}

.social-links a {
	display: inline-block;
	margin: 0 0.6rem;
}

.social-links .github svg:hover {
	fill: #000;
}

.social-links .linked-in svg:hover {
	fill: #fff;
	background: #0077b5;
	padding: 2px;
}

.social-links .twitter svg:hover {
	fill: #1ca1f2;
}
